.WordsContainer {
  color: white;
  background-color: black;
  padding: 15px;
  border-radius: 5px;
  width: 70%;
  height: 148px;
  margin: 0 auto;
}

.WordRowOne {
  display: inline-flex;
  width: 100%;
}

.WordRowTwo {
  display: inline-flex;
  width: 100%;
}

.Word {
  display: inline-flex;
  border-radius: 5px;
  margin: 0 auto;
  padding: 5px;
}

.Word h1 {
  font-size: 175%;
}
