.WordsContainer {
  color: white;
  text-align: center;
  background-color: black;
  /* width: 350px; */
  padding: 0 0 12px 0;
}

.WordRowOne {
  display: flex;
  flex-direction: row;
}

.WordRowTwo {
  display: flex;
  flex-direction: row;
}

.WordList h5 {
  font-size: 25px;
  color: white;
  text-align: center;
}

.Word {
  width: 100%;
}

.Word h1 {
  margin: 0 20px 0 20px;
  font-size: 45px;
}
