/* header element */
.Header {
  /* height: 90px; */
  /* margin-bottom: 35px; */
}

/* nav element */
.Nav {
  background-color: rgb(72, 43, 70);
  height: 80px;
}

/* ul element */
.NavItems {
  list-style: none;
  float: right;
  margin-top: 20px;
}
