.Nav {
  width: 50%;
  background-color: red;
  margin-left: 950px;
}

/* ul element */
.NavItems {
  list-style: none;
  height: 100%;
}

@media screen and (max-width: 499px) {
  .Nav {
    display: none;
  }
}
