/* header element */
.NavBar {
  background-color: rgb(72, 43, 70);
  width: 100%;
  height: 80px;
  margin-bottom: 30px;
}

.NavBar nav {
  margin-top: 10px;
}

/* ul element */
.NavItems {
  display: flex;
  list-style: none;
  float: right;
}
