.Toolbar {
  height: 60px;
  display: flex;
  background-color: #3d253c;
  width: 100%;
}

/* landscape mode */
@media (min-width: 650px) {
  .Toolbar {
    height: 45px;
  }
}

/* portrait mode */
@media (max-width: 649px) {
  .Toolbar {
    height: 40px;
  }
}

/* desktop */
@media (min-width: 800px) {
  .Toolbar {
    height: 60px;
  }
}
