.Toolbar {
  height: 60px;
  display: flex;
  background-color: #3d253c;
  width: 100%;
}

/* landscape mode */
@media (min-width: 650px) {
  .Toolbar {
    height: 45px;
  }
}

@media (max-width: 499px) {
  .Toolbar {
    height: 40px;
  }
}