.WordPanel {
  padding: 2% 2%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: column;
  padding-top: 75px;
}

.WordPanel button {
  width: 10%;
  padding: 10px;
  background-color: rgb(72, 43, 70);
  color: white;
  font-size: 1vw;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  margin: 50px auto 0 auto;
  transition: background-color 0.2s;
}

.WordPanel button:hover {
  background-color: rgb(67 1 62);
  color: white;
}

.WordPanel h5 {
  width: 20%;
  font-size: 120%;
  color: white;
  text-align: center;
  margin: 162px auto 10px auto;
}

.WordPanel input {
  width: 23%;
  padding: 5px;
  font-size: 165%;
  text-align: center;
  color: white;
  background-color: #bfbd98;
  border: none;
  border-radius: 5px;
  align-self: center;
}

.WordPanel input:focus {
  outline: none;
}

.WPMSummary {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 75%;
}

.WPMSummary button {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 15px;
  padding: 10px;
  background-color: #3d253c;
  color: white;
  font-size: 90%;
  border: none;
  width: 10%;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.WPMSummary button:hover {
  background-color: #7c4b7a;
  color: white;
}
