.WordPanel {
  display: flex;
  flex-flow: column;
  width: 50%;
  height: 300px;
  align-items: center;
}

.WordPanel button {
  padding: 15px;
  background-color: rgb(72, 43, 70);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  margin-top: 35px;
}

.WordPanel button:hover {
  background-color: rgb(67 1 62);
  color: white;
}

.WordPanel h5 {
  font-size: 28px;
  color: white;
  text-align: center;
  margin-top: 65px;
  margin-bottom: 25px;
}

.WPMSummary {
  margin-top: -100px;
  margin-bottom: -100px;
  width: 50%;
  height: 500px;
}

.WordPanel input {
  width: 40%;
  height: 50px;
  font-size: 40px;
  padding: 5px;
  text-align: center;
  color: white;
  background-color: rgb(185, 182, 141);
  border: none;
  align-self: center;
}

.WordPanel input:focus {
  outline: none;
}

.WPMSummary button {
  margin-left: 350px;
  margin-top: 20px;
  position: relative;
  /* background-color:rgb(212, 212, 158);  */
  background-color: rgb(72, 43, 70);
  /* color: black; */
  color: white;
  font-size: 20px;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.WPMSummary button:hover {
  /* background-color: black; */
  background-color: rgb(67 1 62);
  /* color: rgb(231, 231, 149);  */
  color: white;
}
