/* KEYBOARD */
.Keyboard {
  background-color: #1c1c34;
  border-radius: 5px;
  margin: 0 auto;
}

.TopRow, .MidRow, .BottomRow, .Space {
  display: inline-flex;
  margin-bottom: 1.5%;
}

.TopRow, .MidRow, .BottomRow {
  justify-content: center;
}

.TopRowKey, .MidRowKey, .BottomRowKey, .SpaceKey { 
  background-color: black;
  color: #00e6e6;
  border-radius: 5px;
  margin-left: 1.5%;
}

/* landscape mode */
@media (min-width: 650px) {
  .Keyboard {
    width: 65%;
    padding-top: 10px;
    margin-bottom: 10px;
  }

  .TopRow, .MidRow, .BottomRow, .Space {
    width: 100%;
  }

  .TopRowKey, .MidRowKey, .BottomRowKey, .SpaceKey {
    width: 6%;
    font-size: 100%;
    height: 30px;
    padding: 0;
  }

  .SpaceKey {
    width: 50%;
    margin-left: 170px;
  }
}

/* portrait mode */
@media (max-width: 649px) {
  .Keyboard {
    width: 75%;
    padding-top: 10px;
  }

  .TopRow, .MidRow, .BottomRow, .Space {
    width: 100%;
  }

  .TopRowKey, .MidRowKey, .BottomRowKey, .SpaceKey {
    width: 7%;
    font-size: 75%;
    height: 25px;
    padding: 0;
  }

  .SpaceKey {
    width: 50%;
    margin-left: 110px;
  }
}

/* desktop */
@media (min-width: 800px) {
  .Keyboard {
    width: 65%;
    padding-top: 20px;
    height: 350px;
  }

  .TopRow, .MidRow, .BottomRow, .Space {
    width: 110%;
    margin-left: -5%;
  }

  .BottomRow {
    margin-left: -10%;
  }

  .Space {
    width: 100%;
    margin-right: -65%;
  }

  .TopRowKey, .MidRowKey, .BottomRowKey, .SpaceKey {
    width: 6%;
    font-size: 120%;
    height: 65px;
    padding: 15px;
  }

  .SpaceKey {
    width: 50%;
    margin-left: 10px;
  }
}
