.KeyboardPage {
  width: 95%;
  margin: 0 auto;
}

.Keyboard {
  background-color: #1c1c34;
  border-radius: 5px;
  margin: 20px auto 0 auto;
}

.TopRow, .MidRow, .BottomRow, .Space {
  display: inline-flex;
}

.TopRow, .MidRow, .BottomRow {
  justify-content: center;
}

.TopRowKey, .MidRowKey, .BottomRowKey, .SpaceKey { 
  background-color: black;
  color: #00e6e6;
  border-radius: 5px;
  margin-left: 1%;
}

/* portrait mode */
@media (max-width: 649px) {
  .Keyboard {
    width: 75%;
    padding: 5px 0;
  }

  .TopRow, .MidRow, .BottomRow, .Space {
    width: 100%;
  }

  .BottomRow {
    margin-left: -8%;
  }

  .TopRowKey, .MidRowKey, .BottomRowKey, .SpaceKey {
    width: 7%;
    font-size: 60%;
    height: 20px;
  }

  .Space {
    margin-left: -8%;
  }

  .SpaceKey {
    width: 45%;
    margin-left: 110px;
  }
}

/* landscape mode */
@media (min-width: 650px) {
  .Keyboard {
    width: 65%;
    padding: 15px 0;
  }

  .TopRow, .MidRow, .BottomRow, .Space {
    width: 105%;
    margin-bottom: 1%;
    margin-left: -3%;
  }

  .TopRowKey, .MidRowKey, .BottomRowKey, .SpaceKey {
    width: 7%;
    font-size: 90%;
    height: 30px;
  }

  .BottomRow {
    margin-left: -8%;
  }

  .SpaceKey {
    width: 45%;
    margin-left: 170px;
  }
}

/* desktop */
@media (min-width: 800px) {
  .Keyboard {
    width: 65%;
    padding: 20px 0;
  }

  .TopRow, .MidRow, .BottomRow, .Space {
    width: 110%;
    margin-left: -5%;
    margin-bottom: 1.5%;
  }

  .BottomRow {
    margin-left: -8%;
  }

  .Space {
    width: 100%;
    margin-right: -65%;
  }

  .TopRowKey, .MidRowKey, .BottomRowKey, .SpaceKey {
    font-size: 125%;
    height: 65px;
    padding: 15px;
  }

  .SpaceKey {
    width: 50%;
    margin-left: 10px;
  }
}
