/* KEYBOARD */
.Keyboard {
  width: 55%;
  background-color: #1c1c34;
  border-radius: 5px;
  margin: 0 auto;
  padding-top: 20px;
  overflow: hidden;
}

/* KEYBOARD TOP ROW */
.TopRow {
  width: 95%;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 2%;
  margin-left: 2.5%;
}

.TopRowKey { 
  background-color: black;
  color: #00e6e6;
  width: 7%;
  height: 70px;
  border-radius: 5px;
  margin-left: 1.5%;
  font-size: 150%;
  text-align: center;
  padding-top: 15px;
}

/* KEYBOARD MID ROW */
.MidRow {
  display: inline-flex;
  justify-content: center;
  width: 95%;
  margin-left: 1%;
  margin-bottom: 2%;
 }

.MidRowKey {
  background-color: black;
  width: 7%;
  height: 70px;
  border-radius: 5px;
  margin-left: 1.5%;
  color: #00e6e6;
  border-radius: 5px;
  font-size: 150%;
  text-align: center;
  padding-top: 15px;
}

/* KEYBOARD BOTTOM ROW */
.BottomRow {
  display: inline-flex;
  justify-content: center;
  width: 95%;
  margin-left: -4%;
  margin-bottom: 2%;
}

.BottomRowKey {
  background-color: black;
  width: 7%;
  height: 70px;
  border-radius: 5px;
  margin-left: 1.5%;
  color: #00e6e6;
  border-radius: 5px;
  font-size: 150%;
  text-align: center;
  padding-top: 15px;
}


/* KEYBOARD SPACE ROW */
.Space {
  display: inline-flex;
  margin-left: 28%;
  margin-bottom: 2%;
  width: 95%;
}

.SpaceKey {
  background-color: black;
  width: 50%;
  height: 70px;
  border-radius: 5px;
  margin-left: 1.5%;
  color: #00e6e6;
  font-size: 150%;
  border-radius: 5px;
  text-align: center;
  padding-top: 15px;
}
