.WordsPageSection, .Forms select, .Forms input, .Modal {
  color: white;
}

.WordsPageSection table {
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #3d253c;
  width: 95%;
}

.WordsPageSection table caption {
  font-size: 70%;
}

.WordsPageSection table caption, .WordsSummary:hover, .Forms label {
  color: #00e6e6;
}

.WordsPageSection th {
  font-size: 50%;
  padding: 5px;
}

.WordsPageSection td {
  height: 40px;
  font-size: 45%;
  padding: 5px;
}

.WordsPageSection tbody {
  background-color: #3d253c;
}

.WordsPageSection input, .WordsPageSection button, .WordsSummary:hover {
  cursor: pointer;
}

.WordsPageSection input {
  height: 15px;
}

.WordsSummary {
  display: flex;
  flex-direction: column;
  transition: 0.2s color;
  justify-content: center;
}

.WordsSummary span {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  margin-top: 155px;
  margin-right: 8px;
}

.WordsSummary:hover span {
  visibility: visible;
}

.Modal {
  padding: 15px;
  background-color: #1c1c34;
  border-radius: 5px;
  margin-bottom: 5px;
}

.WordsPageSection button {
  width: 25%;
  padding: 10px;
  background-color: #482b46;
  font-size: 65%;
  border: none;
  border-radius: 5px;
  margin: 15px auto 0 auto;
  transition: background-color 0.2s;
}

.WordsPageSection button:hover {
  background-color: #43013e;
}

.Forms select, input, .WordsPageSection thead {
  background-color: black;
}

.Forms select {
  border: none;
  padding: 5px;
  border-radius: 5px;
  font-size: 50%;
  margin-right: 10px;
  width: 25%;
}

.Forms {
  margin: 25px auto 0 auto;
}

.Forms label {
  font-size: 60%;
}

.Forms input {
  padding: 15px;
  border-radius: 5px;
  font-size: 50%;
  border: none;
  width: 30%;
}

.Forms input:focus, .Forms select:focus, .WordsPageSection button {
  outline: none;
}

/* portrait mode */
@media (max-width: 649px) {

}

/* landscape mode */
@media screen and (max-width: 799px) {
  .Forms {
    width: 100%;
    margin-top: 70px;
  }

  .Forms input {
    font-size: 100%;
    padding: 25px;
    width: 35%;
  }

  .Forms select {
    margin-right: 25px;
    padding: 10px;
    font-size: 100%;
    width: 20%;
  }

  .Forms label {
    font-size: 75%;
  }

  .Modal {
    width: 100%;
    padding: 20px;
  }

  .WordsPageSection table caption {
    font-size: 100%;
    margin-top: 25px;
  }

  .WordsPageSection table {
    width: 95%;
  }

  .WordsPageSection th {
    font-size: 70%;
    padding: 5px;
  }

  .WordsPageSection td {
    height: 45px;
    font-size: 65%;
    padding: 5px;
  }

  .WordsPageSection button {
    width: 25%;
    font-size: 110%;
  }

  .WordsPageSection table span {
    width: 30%;
  }

  .WordsSummary span {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    margin-top: 275px;
    margin-left: 200px;
  }
}

/* desktop */
@media (min-width: 800px) {
  .WordsPageSection h1 {
    font-size: 180%;
    margin-top: 50px;
  }

  .Forms {
    display: flex;
    width: 85%;
    margin: 50px auto;
  }

  .Filter, .Search {
    display: flex;
    width: 50%;
    justify-content: center;
  }

  .Filter select, .Search input {
    font-size: 100%;
    width: 60%;
  }

  .Filter select {
    padding: 5px;
  }

  .Search input {
    padding: 20px;
  }

  .Filter label, .Search label {
    font-size: 125%;
    margin-right: 5px;
  }

  .WordsPageSection table {
    width: 85%;
    margin-top: 50px;
  }

  .WordsPageSection table caption {
    font-size: 100%;
  }

  .WordsPageSection th {
    font-size: 90%;
  }

  .WordsPageSection td {
    height: 50px;
    font-size: 80%;
  }

  .WordsPageSection button {
    width: 15%;
    padding: 10px;
    font-size: 120%;
  }

  .WordsPageSection table span {
    width: 35%;
  }

  .Modal {
    width: 50%;
  }
}

/* ultra-wide desktop */
@media (min-width: 1200px) {
  .WordsPageSection h1 {
    font-size: 190%;
  }

  .Forms {
    display: flex;
    width: 90%;
  }

  .Filter, .Search {
    width: 60%;
  }

  .Filter select, .Search input {
    font-size: 110%;
    width: 55%;
  }

  .Filter select {
    padding: 10px;
  }

  .Search input {
    padding: 25px;
  }

  .Filter label, .Search label {
    font-size: 135%;
  }

  .WordsPageSection table {
    width: 90%;
  }

  .WordsPageSection th {
    font-size: 95%;
  }

  .WordsPageSection td {
    font-size: 85%;
  }
}
