.WordsPage {
  text-align: center;
}

.WordsPage h1 {
  padding-top: 25px;
  font-size: 250%;
  color: white;
}

.WordsPage table {
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #3d253c;
  width: 70%;
}

.WordsPage table caption {
  color: #00e6e6;
  font-size: 105%;
}

.WordsPage th {
  color: white;
  text-align: center;
}

.WordsPage td {
  height: 50px;
}

.WordsPage thead {
  background-color: black;
}

.WordsPage tbody {
  background-color: #3d253c;
  color: white;
}

.WordsPage input {
  cursor: pointer;
  height: 15px;
  width: 15px;
}

.WordsSummary {
  transition: 0.2s color;
}

.WordsSummary:hover {
  cursor: pointer;
  color: #00e6e6;
}

table span {
  visibility: hidden;
  position: absolute;
  z-index: 1;
}

.WordsSummary:hover span {
  visibility: visible;
}

.Modal {
  padding: 25px;
  background-color: #1c1c34;
  width: 75%;
  text-align: center;
  color: white;
  border-radius: 5px;
}

.WordsPage button {
  width: 10%;
  padding: 10px;
  background-color: rgb(72, 43, 70);
  color: white;
  font-size: 1vw;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  margin: 15px auto 0 auto;
  transition: background-color 0.2s;
}

.WordsPage button:hover {
  background-color: rgb(67 1 62);
  color: white;
}

.WordsPage label {
  color: #00e6e6;
  font-size: 125%;
}

.WordsPage select {
  margin-right: 25px;
  width: 25%;
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 100%;
}

.Forms {
  /* background: red; */
  width: 35%;
  margin: 35px 300px 0 auto;
}

.Forms input {
  width: 35%;
  padding: 25px;
  border-radius: 5px;
  font-size: 100%;
  border: none;
  background-color: black;
  color: white;
}

.Forms input:focus {
  outline: none;
}

.Forms select:focus {
  outline: none;
}
