.App {
  max-width: 100%;
  text-align: center;
}

@media (min-width: 1600px) {
  .App {
    max-width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 1900px) {
  .App { 
    max-width: 85%;
    margin: 0 auto;
   }
}