.Timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.Timer p {
  color: white;
  background-color: black;
  border-radius: 5px;
}

.ResetIcon {
  color: white;
}

.ResetIcon:hover {
  color: #00c4c4;
  cursor: pointer;
}

/* portrait mode */
@media (max-width: 649px) {
  .Timer {
    margin: 25px 0 10px 0;
  }

  .Timer p {
    font-size: 60%;
    padding: 5px;
  }

  .ResetIcon {
    width: 10%;
    height: 27px;
  }
}

/* landscape mode */
@media (min-width: 650px) {
  .Timer {
    margin: 15px auto;
  }

  .Timer p {
    font-size: 80%;
    padding: 8px;
  }

  .ResetIcon {
    width: 7%;
    height: 40px;
  }
}

/* desktop */
@media (min-width: 800px) {
  .Timer {
    margin: 50px auto;
  }

  .Timer p {
    font-size: 120%;
    padding: 10px;
  }

  .ResetIcon {
    width: 5%;
    height: 50px;
  }
}
