.WPMSummary {
  display: flex;
  text-align: center;
  color: white;
  height: 424px;
  padding-top: 30px;
}

.SlowestWords {
  width: 35%;
}

.SlowWord, .WordWPM, .AvgWPMScore, .AccScore {
  background-color: black;
  border-radius: 5px;
}

.SlowWord, .WordWPM {
  width: 65%;
  margin: 3px auto;
  padding: 5px;
}

.WordWPM, .AvgWPMScore {
  color: #00e6e6;
}

.AvgWPMScore {
  width: 40%;
  margin: 15px auto;
}

.WPMPerWords {
  width: 35%;
}

.SlowestWordsList, .PerWordsSummary {
  width: 75%;
  margin: 15px auto 0 auto;
  height: 250px;
  overflow: scroll;
}

.Accuracy, .AverageWPM {
  width: 50%;
}

.AccScore {
  width: 50%;
  padding: 5px;
  margin: 0 auto;
  margin-top: 15px;
}

.AccScore p {
  font-size: 200%;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background-color: #3d253c;
}

::-webkit-scrollbar-thumb {
  background-color: #00e6e6;
}

.AccAvgContainer {
  display: flex;
}

.Stats {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}

.ResetIcon {
  background-color: transparent;
  color: white;
  width: 20%;
  height: 100px;
  margin: 0 auto;
  margin-top: 8%;
}

.ResetIcon:hover {
  color: #00c4c4;
  cursor: pointer;
}

/* portrait */
@media (max-width: 649px) {
  .WPMSummary {
    height: 246px;
  }

  .PerWordsSummary, .SlowestWordsList {
    height: 150px;
  }

  .WPMPerWords h1, .SlowestWords h1, .Stats h1 {
    font-size: 60%;
  }

  .AverageWPM p, .AccScore p {
    font-size: 50%;
    padding: 5px;
  }

  .WordWPM p, .SlowWord p {
    font-size: 35%;
  }

  .ResetIcon {
    width: 40%;
    height: 150px;
    margin: 0 auto;
  }
}

/* landscape */
@media (min-width: 650px) {
  .WPMSummary {
    height: 278px;
  }
  .PerWordsSummary, .SlowestWordsList {
    height: 150px;
  }

  .WPMPerWords h1, .SlowestWords h1, .Stats h1 {
    font-size: 80%;
  }

  .AverageWPM p, .AccScore p {
    font-size: 100%;
    padding: 5px;
  }

  .WordWPM p, .SlowWord p {
    font-size: 50%;
  }
}

/* desktop */
@media (min-width: 800px) {
  .WPMSummary {
    height: 424px;
  }

  .WPMPerWords h1, .SlowestWords h1, .Stats h1 {
    font-size: 125%;
  }

  .AverageWPM p, .AccScore p {
    font-size: 130%;
    padding: 5px;
  }

  .WordWPM p, .SlowWord p {
    font-size: 75%;
  }

  .PerWordsSummary, .SlowestWordsList {
    height: 250px;
  }
}

/* ultra-wide desktop */
@media (min-width: 1200px) {
  .WPMPerWords h1, .SlowestWords h1, .Stats h1 {
    font-size: 150%;
  }

  .AverageWPM p, .AccScore p {
    font-size: 150%;
    padding: 5px;
  }

  .WordWPM p, .SlowWord p {
    font-size: 90%;
  }
}