.WPMSummary {
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 100%;
  margin-bottom: 20px;
  /* background-color: peachpuff; */
}

.WPMSummaryContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 65%;
  height: 50vh;
  padding-top: 50px;
  /* background-color: red; */
}

.Average {
  width: 50%;
  text-align: center;
}

.Average p {
  font-size: 200%;
  padding: 5px;
}

button {
  padding: 15px;
  background-color: #3d253c;
  color: white;
  font-size: 90%;
  border: none;
  width: 30%;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s;
  margin: 0 auto;
  margin-top: 20%;
}

.SlowestWordsContainer {
  width: 30%;
  text-align: center;
  margin: 0 auto;
  height: 350px;
}

.SlowestWordsList {
  margin: 15px auto 0 auto;
  height: 250px;
  overflow: scroll;
}

.SlowWord {
  background-color: black;
  color: white; 
  border-radius: 5px;
  width: 60%;
  margin: 3px auto;
  padding: 5px;
}

.WordSummary {
  margin-bottom: 15px;
}

.WordWPM {
  /* color: rgb(231, 231, 149);  */
  color: #00e6e6;
  background-color: black;
  border-radius: 5px;
  width: 60%;
  margin: 3px auto;
  padding: 5px;
}

.Score {
  text-align: center;
  /* color: rgb(231, 231, 149);  */
  color: #00e6e6;
  background-color: black;
  border-radius: 5px;
  width: 40%;
  margin: 15px auto;
}

.ScoreHeader {
  text-align: center;
}

.Review {
  width: 40%;
  text-align: center;
  margin: 0 auto;
  height: 350px;
}

.WordSummary {
  margin: 15px auto 0 auto;
  width: 75%;
  height: 250px;
  overflow: scroll;
  text-align: center;
}

.Accuracy {
  width: 50%;
  text-align: center;
  /* background-color: blue; */
}

.AccScore {
  background-color: black;
  border-radius: 5px;
  width: 60%;
  padding: 5px;
  margin: 0 auto;
  margin-top: 15px;
}

.AccScore p {
  font-size: 200%;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background-color: #3d253c;
}

::-webkit-scrollbar-thumb {
  background-color: #00e6e6;
}

.AccAvgContainer {
  display: flex;
}

.StatsContainer {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 0 auto;
}

.ResetIcon {
  background-color: transparent;
  color: white;
  width: 20%;
  height: 100px;
  margin: 0 auto;
  margin-top: 8%;
}

.ResetIcon:hover {
  color: #00c4c4;
  cursor: pointer;
}
