.WPMSummary {
  color: white;
  display: inline-flex;
  font-size: 100%;
  margin-top: 15px;
  margin-bottom: 30px;
}

.Average {
  width: 30%;
  margin: 0 auto;
}

.SlowestWordsContainer {
  width: 30%;
  text-align: center;
  margin: 0 auto;
}

.SlowestWordsList {
  width: 50%;
  margin: 0 auto;
  height: 75%;
}

.SlowWord {
  background-color: black;
  color: white; 
  border-radius: 5px;
  width: 75%;
  margin: 3px auto;
}

.WordWPM {
  color: rgb(231, 231, 149); 
  background-color: black;
  border-radius: 5px;
  width: 40%;
  margin: 3px auto;
}

.Score {
  text-align: center;
  color: rgb(231, 231, 149); 
  background-color: black;
  border-radius: 5px;
  width: 40%;
  margin: 15px auto;
}

.ScoreHeader {
  text-align: center;
}

.Average p {
  font-size: 200%;
}

.Review {
  margin: 0 auto;
  width: 30%;
  height: 355px;
  overflow: scroll;
  text-align: center;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background-color: #bfbd98;
}

::-webkit-scrollbar-thumb {
  background: white;
}
