/* li element */
.NavItem {
  display: inline-block;
  margin-right: 35px;
}

/* a link - NavLink element */
.NavItem a {
  text-decoration: none;
  font-size: 130%;
  color: white;
  background-color: black;
  border-radius: 3px;
  padding: 10px;
  transition: background-color 0.2s;
}

.NavItem a:hover {
  cursor: pointer;
  background-color: rgb(185, 182, 141);
}

/* active class for NavLink element */
.NavItem a.active {
  background-color: rgb(185, 182, 141); 
}
